<%-include('partials/header')-%>
<div class="chapterwise-container">
    <div class="chapterwise-goback">
        <a href="#"><img src="/images/go-back.png" alt="go-back"> Return to Dashboard</a>
    </div>
    <div class="chapterwise-book-container">
        <div class="chapterwise-book-image">
            <img src="/images/sample-book-cover.png" alt="Book Cover Image">
        </div>
        <div class="chapterwise-book-content">
            <h5><strong>Book Title:</strong> Once up on a time in Hollywood</h5>
            <h5><strong>Course and Section:</strong> ITSC - 2010 - 002</h5>
        </div>
    </div>
    <div class="chapterwise-chapter-container">
        <div class="accordion-custom">
            <div class="acc-item">
                <div class="acc-item-bar">
                    <div>
                        <h3>Chapter 1 - Basics of Accounting</h3>
                    </div>
                    <div class="acc-item-buttons">
                      <a href="" class="start-learning-button-chapterwise">START LEARNING <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="acc-item">
                <div class="acc-item-bar">
                    <div>
                        <h3>Chapter 2 - Advanced Accounting</h3>
                    </div>
                    <div class="acc-item-buttons">
                        <a href="" class="start-learning-button-chapterwise">START LEARNING <i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>


</script>
<%-include('partials/footer')-%>