<%-include('partials/header')-%>

<div class="form-container-main">

<div class="tab-container">
<div class="tab" id="studentTab"><a href="/register-student">STUDENT</a></div>
<div class="tab active-tab" id="instructorTab">INSTRUCTOR</div>
</div>

<div class="form-container" id="instructorRegisterForm">
  <h2>REGISTER AS INSTRUCTOR</h2>
  <div class="form-field">
    <input type="text" id="instructorName" placeholder="NAME" name="name" required>
    <p class="alert-email-check hidden instructorNameRequired">Please enter your name</p>
  </div>
  <div class="form-field">
    <input type="text" id="instructorUniversity" placeholder="UNIVERSITY ASSOCIATED" name="university" required>
  </div>
  <div class="form-field">
    <input type="email" id="instructorEmail" placeholder="EMAIL" name="email" required>
    <p class="alert-email-check hidden instructorEmailRequired">Please enter a valid email</p>
  </div>
  <div class="form-field">
    <input type="text" id="instructorSubject" placeholder="SUBJECT YOU ARE FOCUSSED ON" name="subject" required>
  </div>
  <div class="form-field">
    <input type="password" id="instructorPassword" placeholder="PASSWORD" name="password" required>
    <p class="alert-email-check hidden instructorPasswordRequired">Please enter a password</p>
  </div>
  <div id="login-registertab">Already have account? <a href="/login-instructor">Login</a></div>
  <div type="submit" id="instructorRegisterButton" class="loginButton"><span class="none">REGISTER</span></div>
</div>
</div>

<script>
  document.getElementById('instructorRegisterButton').addEventListener('click', function(event) {
  event.preventDefault();

  document.getElementsByClassName("instructorNameRequired")[0].classList.add('hidden');
  document.getElementsByClassName("instructorEmailRequired")[0].classList.add('hidden');
  document.getElementsByClassName("instructorPasswordRequired")[0].classList.add('hidden');

  let name = document.getElementById('instructorName').value.trim();
  let university = document.getElementById('instructorUniversity').value.trim();
  let email = document.getElementById('instructorEmail').value.trim();
  let subject = document.getElementById('instructorSubject').value.trim();
  let password = document.getElementById('instructorPassword').value;

  isValid = true
  
  if (!name){
    document.getElementsByClassName("instructorNameRequired")[0].classList.remove('hidden');
    isValid = false
  }

  if (!email.includes('@')) {
    document.getElementsByClassName("instructorEmailRequired")[0].classList.remove('hidden');
    isValid = false
  }

  if (!password) {
    document.getElementsByClassName("instructorPasswordRequired")[0].classList.remove('hidden');
    isValid = false
  }

  if (!isValid) {
      return;
  }
  
  let instructorRegisterButton = document.getElementById('instructorRegisterButton');
  instructorRegisterButton.classList.add('disabled'); 
  const span = instructorRegisterButton.querySelector('span');
  span.innerHTML = '';  
  span.classList.add('loader');

  const data = { name, university, email, subject, password };

  fetch('/register-instructor', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      return response.json(); 
    }
    throw new Error('Network response was not ok');
  })
  .then(data => {
    window.location.href = '/dashboard-instructor';
  })
  .catch(error => {
    console.error('There has been a problem with your fetch operation:', error);
    instructorRegisterButton.classList.remove('disabled');
    span.classList.remove('loader');
    span.innerHTML = 'REGISTER';  
  });
});
</script>
<%-include('partials/footer')-%>
